<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RedisCacheConnectionString" value="localhost:6379" />
    <add key="RedisCacheMaxRetryAttempts" value="3" />
    <add key="RedisCacheRetryMillis" value="0" />
    <add key="RedisCacheThrottleMillis" value="0" />
    <add key="AzureTableStorageConnectionString" value="UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://127.0.0.1;" />
    <add key="AzureTableStorageMaxRetryAttempts" value="3" />
    <add key="AzureTableStorageRetryMillis" value="0" />
    <add key="AzureTableStorageThrottleMillis" value="0" />
  </appSettings>
</configuration>